<h1>Process Pension</h1>
<form (ngSubmit)="onSubmit()" #form="ngForm">	
	<div class="form-group">
		<label for="aadhaar">Aadhaar Number</label>
		<input class="form-control" type="text" name="aadhaar" id="aadhaar" required ngModel #aadhaar="ngModel" pattern="\d{12}">
		<span class="help-block" *ngIf="!aadhaar.valid && aadhaar.touched">Aadhaar must be 12 digits long and numeric</span>
	</div>	
	<div class="form-group">
		<label for="pension-amt">Pension Amount</label>
		<input class="form-control" type="number" name="pension-amt" id="pension-amt" required ngModel #pensionAmt="ngModel">
		<span class="help-block" *ngIf="!pensionAmt.valid && pensionAmt.touched">Please enter a valid pension amount</span>
	</div>
	<div class="form-group">
		<label for="bank-charge">Bank Service Charge</label>
		<input class="form-control" type="number" name="bank-charge" id="bank-charge" required ngModel #bankCharge="ngModel">
		<span class="help-block" *ngIf="!bankCharge.valid && bankCharge.touched">Please enter a valid bank charge</span>
	</div>
	<button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
</form>